.section {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--space-16);
}

.title {
  font-size: var(--font-size-h2);
}

.description {
  margin-top: var(--space-4);
  color: var(--color-text-secondary);
}
